data_config:
  instance_type: ROI             # One of ['kidney', 'cyst', 'tumor', 'ROI']
  valid_prop: 0.05               # Portion of validation sample [0-1)
  data_path: ./kits23/dataset    # Training data location

training_config:
  model: ./models/sam_vit_b_01ec64.pth    # Model checkpoint.
  retrain_decoder: True                   # Retrain Decoder or Fine-Tune it.
  seed: 23                                # Random seed for reproducibility.
  n_epoch: 15                             # How many epochs to train.
  batch_size: 160                         # Number of slices in each batch.
  batch_acc: 1                            # Number of batches to accumulate in single optimization step.
  case_sample: 16                         # How many different cases to sample in creating each batch.
  validate_every: 1000                    # After how many batches to validate.
  save_every: 1000                        # After how many batches to save a checkpoint.
  save_path: ./training/ROI/exp1          # Output path for checkpoints and log files.

optimizer_config:
  optimizer: AdamW        # Don't change it, other optimizers are not supported.
  loss: DiceCELoss        # Supported Losses: [CrossEntropy; Dice; GeneralizedDiceFocalLoss; DiceCELoss; FocalLoss].
  betas: [0.9, 0.999]     # Beta coefficients for optimizer.
  weight_decay: 0.1       # Weight decay.
  initial_lr: 0.00005     # Initial LR used in case lr_shedule is False.

lr_schedule:
  True:                          # If set to False, constant initial_lr will be used.
    warmup_lr: 0.00005           # LR after warm-up.
    warmup_steps: 200            # Number of warm-up steps at the beginning.
    min_lr: 0.00000001           # Lower-bound for the LR.